html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

body::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #d9d9ed;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

.all-button {
  padding: 10px 27px !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  border: 1px solid #3c4242 !important;
  background-color: white !important;
  color: #8a33fd !important;
  transition: 0.4s !important;
  cursor: pointer !important;
}

.all-button:hover {
  background-color: #8a33fd !important;
  border: 1px solid transparent !important;
  color: white !important;
  transition: 0.4s !important;
}

.all-button-active {
  padding: 10px 27px;
  border-radius: 8px;
  background-color: #8a33fd !important;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  cursor: pointer;
}

.all-button-active:hover {
  border: 1px solid #3c4242 !important;
  background-color: white !important;
  color: #8a33fd;
  transition: 0.4s;
}

.active_menu_btn {
  color: #000 !important;
}

.bg_active {
  background-color: #8a33fd !important;
  color: white !important;
  transition: all 0.4s;
}

.bg_active:hover {
  background-color: white !important;
  color: #8a33fd !important;
  transition: all 0.4s;
}

.MuiContainer-root {
  max-width: 1400px !important;
}
