html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

body::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: #d9d9ed;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

.all-button {
  padding: 10px 27px !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  border: 1px solid #3c4242 !important;
  background-color: white !important;
  color: #8a33fd !important;
  transition: 0.4s !important;
  cursor: pointer !important;
}

.all-button:hover {
  background-color: #8a33fd !important;
  border: 1px solid transparent !important;
  color: white !important;
  transition: 0.4s !important;
}

.all-button-active {
  padding: 10px 27px;
  border-radius: 8px;
  background-color: #8a33fd !important;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  cursor: pointer;
}

.all-button-active:hover {
  border: 1px solid #3c4242 !important;
  background-color: white !important;
  color: #8a33fd;
  transition: 0.4s;
}

.active_menu_btn {
  color: #000 !important;
}

.bg_active {
  background-color: #8a33fd !important;
  color: white !important;
  transition: all 0.4s;
}

.bg_active:hover {
  background-color: white !important;
  color: #8a33fd !important;
  transition: all 0.4s;
}

.MuiContainer-root {
  max-width: 1400px !important;
}

.fixed_filter {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
/* bu erdan admin productniki  */
.css-1fu7jd5-MuiButtonBase-root-MuiButton-root,
.css-6bosnm-MuiButtonBase-root-MuiButton-root {
  background-color: #8a33fd !important;
}

/* file */

.custom-select {
  position: relative;
  width: 100%;
  margin: 15px 0;
}
.custom-select .btn-toggle {
  z-index: 0;
  background: #8a33fd;
  border: 1px solid #8a33fd;
  padding: 0 1em;
  height: 3em;
  min-width: 100%;
  border: none;
  text-align: left;
  text-transform: capitalize;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0;
  outline: none;
  position: relative;
  transition: all 0.3s ease-in-out;
  display: flex;
}
.custom-select .btn-toggle input {
  background: none;
  border: none;
  outline: none;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  text-transform: inherit;
}
.custom-select .btn-toggle::after {
  content: "‹";
  position: absolute;
  top: 8px;
  right: 20px;
  transform: rotate(-90deg);
  font-size: 1.75rem;
  transition: all 0.3s ease-in-out;
}
.custom-select .btn-toggle.open {
  border-radius: 10px 10px 0 0;
  transition: all 0.4s ease-in-out;
}
.custom-select .btn-toggle.open::after {
  right: 15px;
  transform: rotate(90deg);
  transition: all 0.4s ease-in-out;
}
.custom-select .drop-items {
  position: absolute !important;
  width: 100%;
  z-index: -1;
  top: -50%;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.custom-select .drop-items li {
  border: 1px solid #e0e0e0;
  border-top: none;
  padding: 0.75em;
  cursor: pointer;
  background: #ffffff;
  transition: all 0.25s ease-in-out;
}
.custom-select .drop-items li:first-child {
  border-top: none;
}
.custom-select .drop-items li:last-child {
  border-radius: 0 0 10px 10px;
}
.custom-select .drop-items li:hover {
  background: #8a33fd;
  border-color: #8a33fd;
  color: #ffffff;
}
.custom-select .drop-items.active {
  z-index: 99;
  opacity: 1;
  top: 100%;
  transition: all 0.4s ease-in-out;
}

/* input file */

#profile-upload {
  background-image: url("");
  background-size: cover;
  background-position: center;
  height: 100px;
  margin: 15px 0;
  width: 100%;
  border: 1px dashed white;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
#profile-upload:hover input.upload {
  display: block;
}
#profile-upload:hover .hvr-profile-img {
  display: inline-block;
}
#profile-upload .fa {
  margin: auto;
  position: absolute;
  bottom: -4px;
  left: 0;
  text-align: center;
  right: 0;
  padding: 6px;
  opacity: 1;
  transition: opacity 1s linear;
  -webkit-transform: scale(0.75);
}
#profile-upload:hover .fa {
  opacity: 1;
  -webkit-transform: scale(1);
}
#profile-upload input.upload {
  z-index: 0;
  left: 0;
  margin: 0;
  bottom: 0;
  top: 0;
  padding: 0;
  opacity: 0;
  outline: none;
  cursor: pointer;
  position: absolute;
  background: #ccc;
  width: 100%;
  display: none;
}

#profile-upload .hvr-profile-img {
  min-width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  vertical-align: middle;
  position: relative;
  background: transparent;
}
#profile-upload .fa:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transition: height 0.3s;
}

#profile-upload:hover .fa:after {
  height: 100%;
}
